@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --navigation-height: 7rem;
    }
    html {
        @apply h-full font-sans text-base-content bg-base-200;
        font-size: 62.5%;
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    }
    .skeleton {
        @apply text-transparent animate-pulse rounded-xl bg-gradient-to-r from-neutral-content to-base-300;
    }
    .skeletonRound {
        @apply rounded-full animate-pulse bg-gradient-to-r from-neutral-content to-base-300;
    }
}
